body { display:flex; background-color: white; height: 100vh; width: 100vw; flex-direction: column;}
#top { height:5%; margin:0; background-color: yellow;}
#mid { height:90%; margin:0; display: flex; flex-direction:row;} 
#menu { height:100%; margin:0; width: 5%; background-color: green;}
#text { height:100%; margin:0; width: 85%; background-color: blue;}
#left { height:100%; margin:0; width: 10%;background-color: black;}
#bottom{ height:5%; margin:0; background-color:red;}
